<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:hsf="http://www.taobao.com/hsf"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
        http://www.taobao.com/hsf
       http://www.taobao.com/hsf/hsf.xsd" default-autowire="byName">

    <context:property-placeholder location="classpath:resource.properties"/>
    <context:component-scan base-package="com.alibaba.edas.carshop.*"/>
    <mvc:annotation-driven/>
    <mvc:annotation-driven>
        <mvc:message-converters register-defaults="true">
            <!-- 配置Fastjson支持 -->
            <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/html;charset=UTF-8</value>
                        <value>application/json</value>
                    </list>
                </property>
                <property name="features">
                    <list>
                        <value>WriteMapNullValue</value>
                        <value>QuoteFieldNames</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>
    <!--<hsf:consumer id="item" interface="com.alibaba.edas.carshop.itemcenter.ItemService"-->
    <!--version="1.0.0"  target="192.168.33.8:12200?_TIMEOUT=1000">-->
    <!--</hsf:consumer>-->
    <!--1.	信誉额查询/押货保证金最大限额-->
    <hsf:consumer id="iMortgageAccountQueryApi"
                  interface="com.perfect.center.inventory.api.query.IMortgageAccountQueryApi"
                  version="1.0.0" group="dtyunxi-perfect-devpub">
    </hsf:consumer>
    <!--&lt;!&ndash;2.	押货单明细查询&ndash;&gt;group="dtyunxi-perfect-dev"-->
    <hsf:consumer id="iMortgageOrderQueryApi" interface="com.perfect.center.inventory.api.query.IMortgageOrderQueryApi"
                  version="1.0.0" group="dtyunxi-perfect-devpub">
    </hsf:consumer>
    <!--3.	核对产品库存(1)-->
    <!--</hsf:consumer>-->
    <hsf:consumer id="iStorageSnapshotQueryApi" interface="com.perfect.center.inventory.api.query.IStorageSnapshotQueryApi"
                  version="1.0.0" group="dtyunxi-perfect-devpub">
    </hsf:consumer>

    <!--&lt;!&ndash;查询服务中心基本信息&ndash;&gt;-->
    <hsf:consumer id="iPerfectServiceCenterQueryApi"
                  interface="com.perfect.center.shop.api.query.IPerfectServiceCenterQueryApi"
                  version="1.0.0" group="dtyunxi-perfect-dev">
    </hsf:consumer>
    <!--查询产品相关信息-->
    <hsf:consumer id="iperfectItemQueryApi"
                  interface="com.perfect.center.item.api.query.IPerfectItemQueryApi"
                  version="1.0.0" group="dtyunxi-perfect-dev">
    </hsf:consumer>


    <!--&lt;!&ndash;&lt;!&ndash;仓库服务调用&ndash;&gt;&ndash;&gt;target="192.168.121.36:12200?_TIMEOUT=30000"-->
    <!--<hsf:consumer id="iprocedureQueryApi"-->
                  <!--interface="com.perfect.third.integration.api.query.IProcedureQueryApi"-->
                  <!--version="1.0.0" group="dtyunxi-perfect-dev" >-->
    <!--</hsf:consumer>-->
    <bean id="hsfProceduceQueryApi" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean"
    init-method="init">
    <property name="interfaceName"
    value="com.perfect.third.integration.api.query.IProcedureQueryApi"/>
    <property name="version" value="1.0.0"/>
    <property name="group" value="dtyunxi-perfect-dev"/>
    </bean>
</beans>